@import url(http://fonts.googleapis.com/css?family=Roboto);

.body{

    background-image:url('../img/fondSite3.jpg');
}
.titre{
    padding-bottom: 20px;
}
h1{
    text-align: center;
}


.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}
.imgReduite {
    padding-left: 10px;
    height: 50px;
    width: auto;
}
.imgReduite:hover {
    height: 100px;
    width: auto;
}
.image_caisse {
    padding-left:25%;
}
.table{
    background-color : white;
}
.montant{
    font-weight : bold;
    font-weight : 800;
}
.affich{
    height: 100px;
}
table{
    text-align: center;
}
* {
    font-family: Trebuchet MS;
}

glyphicon{
    font-style: italic;
}

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
    margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;

    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}
.navbar-brand{
    margin-top :-12px;
}
#img_logo {
    width:20%;
    height:50%;
    opacity: 0.7;

}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}



.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
    border-radius: 0px;
}
.body{
    padding-top: 2%;
}
.imgReduite {
    padding-left: 10px;
    height: 50px;
    width: auto;
}
.imgReduite:hover {
    height: 100px;
    width: auto;
}
.table{
    background-color : white;

}
.montant{
    font-weight : bold;
    font-weight : 800;
}



.img_arrondie {
    overflow:hidden;
    -webkit-border-radius:90px;
    -moz-border-radius:90px;
    border-radius:90px;
    width:135px;    /*                            */
    height:135px;  /*modifie la taille de l'image*/
}
.img_arrondie_spéciale {
    overflow:hidden;
    -webkit-border-radius:90px;
    -moz-border-radius:90px;
    border-radius:90px;
    width:50%;    /*                            */
    height:50%;  /*modifie la taille de l'image*/
}
.bouton-connexion{
    margin-left : 37px;
}
.bouton-connexion-features{
    margin-left : 37px;
}


.jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
                padding-bottom: 24px; }
.jumbotron small {
    color: #FFF;
}
.h1 small {
    font-size: 24px;
}


.carte {
    box-sizing: border-box;
}


.famille{
    border: 1px solid #6E305E;
    border-color:white;
    background-color: white;


    height:35%;



}
.famille:hover .nom_famille{
    color:blue;
}
.nom_famille {
    color:black;


}

.contact {
    color:black;

}
.contact_titre {
    padding-left:25%;
}

.position_image_mobiltec {
    padding-top:0.5%;
    padding-left:1%;
    float:left;
    width:20%;
    height:10%;
}


.position_image_riotware {
    padding-top:0.5%;
    float:right;
    padding-right:1%;
    width:20%;
    height:10%;

}

.position_famille {
    padding-bottom: 2%;

}
.position_produits_caroussel {
    padding-bottom: 2%;
    height:400px;
}
.position_produits_famille {
    padding-bottom: 2%;
    height:400px;
}

.button_contact {
    padding-top:4%;


}

.menu {

    padding-left:10%;
    padding-top: 0.5%;


}


.container_contenu {

    width:80%;
    padding-right: 0px;

    margin-right: auto;

    margin-left: auto;

}
.container_panier {

    width:100%;
    padding-right: 0px;

    margin-right: auto;

    margin-left: auto;

}

.container_accueil {
    width:80%;
    padding-right: 0px;

    margin-right: auto;
    height:30%;
    margin-left: auto;

}

.contenu {
    height:100%;
    width:100%;
}
#Presentation {
    color:black;

}

.container_presentation {
    background-color: white;

    border-radius: 4px;
    padding-top:1%;
    height:100%;
    padding-left:2%;
    padding-right: 2%;

}


.image_Reparation_tablette_smartphone {
    height:10%;
    width:70%;
    -webkit-border-radius: 0%;
}

.footer {
    -webkit-border-radius: 0%;
    width:100%;
    padding-left:0%;
    margin:0;
    height:100%;


}
.footer_accueil {
    -webkit-border-radius: 0%;
    width: 100%;
    padding-left: 0%;
    margin: 0;
    height: 100%;
    bottom: 0;
    padding-top: 5.9%;
}
.footer_contact {
    -webkit-border-radius: 0%;
    width: 100%;
    padding-left: 0%;
    margin: 0;
    height: 100%;
    bottom: 0;
}
.texte-footer {
    float:bottom;
    padding-top: 5%;
    color:white;
}

.id_img-bandeau {
    -webkit-border-radius: 0%;
    padding-left:2%;
    height:100%;
    width:8%;


}
.image_partenaires {
    -webkit-border-radius: 0%;
    height:100%;

}
.body2 {
    height:10%;
}

.containeur_image_marques {
    background-color: white;
    width: 100%;
    height:100%;
    text-align: center;
}
.containeur_image_marques_reparation {
    background-color: white;
    width: 100%;
    height:100%;

    text-align:center;
}

#carrousel {
    border: solid 5px  #e7dbc5;
    height:100%;
    margin:0 auto;
    position:relative;

}
.slide {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.title {
    position:absolute;
    padding-left:12px;
    width:702px;
    line-height:35px;
    height:35px;
    bottom:0;
    left:0;
    background-color: rgba(0,0,200,0.4)

}

.navigation {
    position:absolute;
    bottom:38px;
    right:5px;
}
.navigation span {
    background:#000;
    color:#FFF;
    padding:2px 4px;
    cursor:pointer;
}

.navigation span:hover, .navigation span.active{
    background:#FFF;
    color:#000;

}


.image_modification_caroussel{
    -webkit-border-radius: 0%;
    width:30%;
    height:10%;
}

.image_modification_caroussel:hover{
    -webkit-border-radius: 0%;
    width:100%;
    height:50%;
}

.page_authentification  {
    background-color:white;

}
.bouton_configuration {
    padding-top:2%;
    padding-left:45%;
    z-index:5;
}

#menu-vertical {
    position:absolute;
    visibility:hidden;
    background-color:white;
    width:auto;
    padding-left:0;



}
#li_menu:hover #menu-vertical  {

    visibility:visible;


}
#li_menu:hover .prestation_off {
    display:block;
}
#li_menu:hover .prestation_on
{
    display: none;
}


.prestation_on  {
width: auto;
}
.prestation_off {
    display:none;
}

#menu-vertical li {

    width:100%;
    margin:0;
    padding:0;

    list-style-type: none;
    text-decoration: none;
    margin:0
}




#li_menu {
    cursor:pointer;
    float:right;

}


.header_caroussel {
    height:30%;
    padding-top:0.5%;

}


.container_accueil_contenu {


    width:100%;
    padding-right: 0px;

    margin-right: auto;

    margin-left: auto;




}


/*css pour le captcha google*/


@media screen and (max-height: 575px){
    #rc-imageselect,
    .g-recaptcha {
        transform:scale(0.69);
        transform-origin:0;
        transform:scale(0.69);
        transform-origin:0 0;
        -webkit-transform:scale(0.69);
        transform:scale(0.69);
        -webkit-transform-origin:0 0;
        transform-origin:0 0;
        padding-left:-20%;
    }
}

/*css pour la carte page contact*/
.full_carte{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */

    height: 0
}
.full_carte iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.image_icon_macapple {
    width:100%;
    -webkit-border-radius: 0%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.accueil_service {
    height:50%;
    width:14%;
    float:left;

    padding-left:2%;
}

.container_footer {

    width:100%;
    padding-right: 0px;

    margin-right: auto;
    margin-left: auto;



}

.img_facade {
    -webkit-border-radius: 0%;
    height:100%;
    width:100%;
}

.img_cloud {
    -webkit-border-radius: 0%;
    height:100%;
    width:100%;
}
.img_accueil {
     width:20%;
    height:50%;
    opacity: 0.7;
}
.img_modal {
    -webkit-border-radius: 0%;
    padding-left:25%;
    height:20%;
}
.container_img_facade {

    height:100%;
}


.container_services {
    background-color: white;

    border-radius: 4px;
    padding-top:3%;
    height:50%;

}
.img_produit {
    -webkit-border-radius: 0%;
    height:70%;

}
.position_img_produit {
    margin-left:25%;
}

.stats {
    background-color:white;
}




/*portable et tablette*/

@media all and (orientation: portrait) {
    .container_img_facade {
        display:none;
    }
    .header_caroussel {
        padding-top:0%;
        height:30%;

    }
    .div_accueil{
        padding-left:20%;
        padding-top:15%;
    }
    #menu-vertical {
        position:absolute;
        visibility:hidden;
        background-color:white;
        width:50%;
        padding-left:0;

    }
    .container_contenu
    {

        width:100%;
        padding-right: 0px;

        margin-right: auto;

        margin-left: auto;

    }

}




@media (orientation: landscape)and (max-width : 600px)   {
    .header_caroussel {
        padding-top:0;
        height:60%;

    }
    #menu-vertical {
        position:absolute;
        visibility:hidden;
        background-color:white;
        width:50%;
        padding-left:0;
    }
    .container_contenu
    {

        width:100%;
        padding-right: 0px;

        margin-right: auto;

        margin-left: auto;

    }
    #menu-vertical li {
        list-style-type: disc;
    }
    .container_img_facade {
        display:none;
    }
    .div_accueil{
        padding-left:20%;
        padding-top:15%;
    }
    #myTopnav{
        padding-left:11%;
    }


}





